<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script async="" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?_=1415214214085"></script>
				<link rel="shortcut icon" href="http://www.confrontario.com/images/favicon.ico" type="image/x-icon">
			<link rel="stylesheet" type="text/css" href="./profile_files/stylevmin0.0.3.css">

		<link rel="stylesheet" href="./profile_files/jquery.slider.min.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="./profile_files/jsliderv2.css">
		<link rel="author" href="https://plus.google.com/105559518111354713704">		
		<script type="text/javascript" async="" src="./profile_files/plusone.js" gapi_processed="true"></script><script src="../../../subodh/profile_files/cb=gapi.loaded_0" async=""></script><script id="twitter-wjs" src="./profile_files/widgets.js"></script><script type="text/javascript" async="" src="./profile_files/plusone.js" gapi_processed="true"></script><script id="facebook-jssdk" src="./profile_files/sdk.js"></script><script type="text/javascript" async="" src="./profile_files/plusone.js" gapi_processed="true"></script><script async="" src="./profile_files/analytics.js"></script><script type="text/javascript" src="./profile_files/jq1.7.1.js"></script>
		
		<meta name="language" content="english">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
				<meta name="description" content=" confrontario user account settings ">
		
		<title>Account Settings - confrontario</title>
		<meta name="google-site-verification" content="qcdadScHd-OWxGC_CdCOnLHsG3RmIIrUSUOUFakWhAg">
                <meta name="og_title" property="og:title" content="Account Settings - confrontario">
		<meta name="twitter:title" content="Account Settings - confrontario">
				<meta name="og_url" property="og:url" content="">
		<meta name="og_type" property="og:type" content="website">
					<meta name="twitter:card" content="summary">
			<meta name="twitter:site" content="@confrontario_IN">
			<meta name="twitter:image:src" content="http://www.confrontario.com/images/fy.png">
			<meta name="og_image" property="og:image" content="http://www.confrontario.com/images/fy.png">
				<meta name="og_site_name" property="og:site_name" content="confrontario">
		<meta name="og_description" property="og:description" content=" confrontario user account settings ">
		<meta name="twitter:description" content=" confrontario user account settings ">
		<meta property="fb:admins" content="100000030204019">
		<meta property="fb:id" content="233317093413513">
				

</head>
	
	<body id="res" style="display: block; min-width: 280px; background-image: url(http://www.confrontario.com/accountsettings); background-color: rgb(247, 252, 252);" data-twttr-rendered="true">-->
		<span class="notibac"></span>
	
	
		<div class="bluhd">

	<div class="bludata">
		<a href="http://www.confrontario.com/"> <img class="logg" src="./profile_files/fyi-logo.png" alt="confrontario"></a>
		<div class="srch">
			<form target="_top" id="search-form" method="get" class="srfrm" action="http://www.confrontario.com/search">
				<input type="text" id="search-text" autocomplete="off" placeholder="Search Here" name="query">
				<button class="orange srb" id="search-button" type="submit" value="Search">Search</button>
			</form>
		</div>

				<span class="lnwrp">
        	<span class="logiin">
				<span class="btk"><span class="pname">Subodh</span></span>        	
					        	<span class="tpic"><img src="./profile_files/b946a6.jpg" width="50" height="50" class="guy" alt=""></span>
	            				<span class="downt"></span>
			</span>
			<span id="qa-np-nc-marker" class="qa-np-nc-marker-position-handle qa-np-nc-marker-inactive">
</span>
<div id="qa-np-nc-window" style="display:none;" class="qa-np-nc-window-position-handle">
	<span id="qa-np-nc-window-tip"></span>
	<div id="qa-np-nc-window-header">
	<a class="qa-np-nc-close-link" href="../../../subodh/profile_files/accountsettings" style="float:right;">close</a>
		Notification
	</div>
	<div id="qa-np-nc-window-content">
		<div style="clear:both;"></div>
	</div>
	<div id="qa-np-nc-window-footer">
	<a class="qa-np-nc-more-link" href="http://www.confrontario.com/q/notifications">read more</a>
	</div>
</div>
		</span>
			</div>
</div>
<div class="nusrch">
	<form action="" class="nusrfrm">
		<input type="text" id="searchAuto" placeholder="Search Here">
		<button class="" id="submitSearch"></button>
	</form>
</div>


<div class="chota" style="width:100%;display:none" ;="">
	<div class="chotainw">
		<span class="hidcatul">
			<span class="vispart"></span>
		</span>
		<div class="srch">
			<form target="_top" method="get" class="srfrm" action="http://www.confrontario.com/search">
				<input type="text" autocomplete="off" placeholder="Search Here" name="query">
				<button class="orange srb" type="submit" value="Search">Search</button>
			</form>
		</div>
	</div>
</div>
			 	
			<div class="acount-item">
				<div class="tip"></div>
										<div class="aftlog">
												<a href="http://www.confrontario.com/profile/subodh-yadav-b946a6" class=" sbtn prf"><span class="common_sprite profile_icon"></span> Profile</a>						
						<a href="./profile_files/profile.html" class="stw sbtn acntset"><span class="common_sprite accountsetting_icon"></span>  Account Settings</a>
						<a href="http://www.confrontario.com/logout" class="stw sbtn off"><span class="common_sprite logout_icon"></span>Log out</a>
					</div>
					
					</div>

  

			<div class="substitute"></div>
			



<div class="full_width cover_pic" style="background-image:url(http://www.confrontario.com/avatar/b946a6.jpg);">
	<div class="overlay">
	</div>
</div>
<div class="center_wrap">
	<div class="qcnt">
		<a href="http://www.confrontario.com/accountsettings#activity" class="asad">
			<span class="cont2">
				Asked
			</span>
			<span class="cont1">
				0			</span>
		</a>
		<a href="http://www.confrontario.com/accountsettings#activity" class="asad">
			<span class="cont2">
				Added
			</span>
			<span class="cont1">
				0			</span>
		</a>
	</div>
	<div class="userDet">
		<div class="pinam">
			<div class="propic">
				<div class="tv" style="background-image:url(http://www.confrontario.com/avatar/b946a6.jpg)">
				</div>
						<!--<img src="images/a.jpg" alt="Profile Pic">-->
			</div>
			<div class="name">
				<h1 class="contb">Subodh Yadav</h1>
				<div style="margin-left: -3px;">
				<div class="proic icloc">
				</div>
				<div class="cont3">
					Delhi, India				
					</div>
			</div>
				
		</div>			
		</div>
				 
							<div class="ptabpanel">
				<span class="tabctrl">
					<span class="tab-option active">General</span>
					<span class="tab-option active">Reviews</span>
				</span>
				<span class="tab-page">
					<span id="General" class="ptbpg" style="display: block;">
						<form action="http://www.confrontario.com/accountsettings/change_dp.html" method="post" accept-charset="utf-8" id="uploadform" enctype="multipart/form-data">						<label class="lbll"> Profile Image</label>
						<span class="chfile">Choose File</span>
						<input type="file" accept="image/jpeg" class="upld" name="userfile" size="20">
						<div class="hidb">
							<img id="lbll" src="../../../subodh/profile_files/accountsettings" alt="your image">
							<div class="primsid">
								<div class="primbtnctrl">
									<span class="imsbwr">
										<span class="hidsbmt"></span>
										<input type="Submit" value="Confirm" class="ulp orange">
									</span>
									<span class="cncel orange" style="padding:4px 8px;">Cancel</span>
								</div>
								<span class="primmsg">Please Upload max 100kb file</span>
							</div>
						</div>
						</form>							<form action="http://www.confrontario.com/authenticate/change_userinfo" method="post" accept-charset="utf-8" id="geneform">	
								<span class="ffl">
									<label for="changename" class="lbll">Name</label>									<input type="text" name="changename" value="Subodh Yadav" placeholder="New name" id="chdNm" class="gnlbl">								</span>
								<span class="ffl">
									<label for="changeloc" class="lbll">Location</label>									<input type="text" name="changeloc" value="Delhi, India" placeholder="New location" id="chdLc" class="gnlbl">								</span>
								<span class="ffl">
									<label for="changeloc" class="lbll">Comapny/Shop</label>									<input type="text" name="changeloc" value="Rdio Shack" placeholder="New location" id="chdLc" class="gnlbl">								</span>
								<span class="ffl">
									<label for="changeloc" class="lbll">Email</label>									<input type="text" name="changeloc" value="someone@gmail.com" placeholder="New location" id="chdLc" class="gnlbl">								</span>
								
								<span class="ffl">
									<label for="chdWB" class="lbll">Blog/Website Link</label>
									<input type="text" id="chdWB" name="addsite" class="gnlbl" placeholder="http://www.mysite.com" value="">
								</span>
								<span class="ffl">
																		</span>
								<span class="fl">
									<span class="lbll"></span>
								</span>
								<span class="fl">
									<span class="lbll"></span>
									<span style="margin:15px auto 5px;position:relative;">
										<span class="hidsbmt"></span>
										<input type="submit" id="scfi" class="adf orange" value="Save Details" disabled="disabled">
									</span>
								</span>
							</form>						
						</span>
				</span>
			</div>
		</div>
	</div>
	<span class="perr">  </span>
							
	<div class="pleftpart"></div>

<span class="atajax">
	Loading
	<img src="./profile_files/lod.gif" style="float:none;">
</span>
 
<script type="text/javascript">
 function checkboxvalidate () {
	var userprefcheck= "1"
		if (userprefcheck == "1") {
		$('#PostQues').attr('checked','checked');
		};
		var userprefcheck= "1"
		if (userprefcheck == "1") {
		$('#PostEm').attr('checked','checked');
		};
		var userprefcheck= "1"
		if (userprefcheck == "1") {
		$('#Postbest').attr('checked','checked');
		};
		var userprefcheck= "1"
		if (userprefcheck == "1") {
		$('#Postvote').attr('checked','checked');
		};    
	}

$('.checkset').change(function() {
	$("#settsub").removeClass('cncl');
});

$("#gensett").submit(function(e) {
 		$('.atajax').show();
    var url = "http://www.confrontario.com/gensett"; // the script where you handle the form input.
 	// alert($("#gensett").serialize());
    $.ajax({
           type: "POST",
           url: url,
           data: $("#gensett").serialize(), // serializes the form's elements.
           success: function(data)
           {	
           	 $('.atajax').hide();
	$("#settsub").addClass('cncl');// show response from the php script.
           }

         });

        e.preventDefault();
});

</script>	
                 			
<div class="footer" style="width: 100%;">
	<div class="footer_div">
		<div class="footer_content">
			<div class="footer_link_div">
				<a href="http://www.confrontario.com/"><span class="footer_link_heading">confrontario</span></a>
				<a href="http://www.confrontario.com/aboutus"><span class="footer_link_title">About Us</span></a>
				<a href="http://m.confrontario.com/"><span class="footer_link_title">confrontario Mobile</span></a>
			</div>				
		</div>
	</div>
</div>

		

<!-- Background layer(To create light box effect)  -->
<div class="bak"></div>	
<!--
</body></html>-->
