<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal" method="post">
          <fieldset>
            <legend class="text-center header">User Profile Form</legend>    
            
            

<div class="form-group">    
            <span class="col-md-1 col-md-offset-2 text-center"></span>
              <div class="col-md-8">
<div class="ss-form-question errorbox-good" role="listitem">
  <div dir="ltr" class="ss-item ss-item-required ss-radio">
  <div class="ss-form-entry">
  <label class="ss-q-item-label" for="entry_1818610032">
  <div class="ss-q-title">Option  
  <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
  <span class="ss-required-asterisk">*</span></div>
  <div class="ss-q-help ss-secondary-text" dir="ltr">
  </div>
  </label>
  
  <ul class="ss-choices" role="radiogroup" aria-label="Option">
  <li class="ss-choice-item">
  <label>
  <span class="ss-choice-item-control goog-inline-block">
  <input type="radio" name="entry.1168412416" value="Company" id="group_1168412416_1" role="radio" class="ss-q-radio valid" aria-label="Company" required="" aria-required="true">
  </span>
  <span class="ss-choice-label">Company</span>
  </label>
  </li> 

  <li class="ss-choice-item">
  <label>
  <span class="ss-choice-item-control goog-inline-block">
  <input type="radio" name="entry.1168412416" value="Open Theme" id="group_1168412416_2" role="radio" class="ss-q-radio" aria-label="Open Theme" required="" aria-required="true">
  </span>
  <span class="ss-choice-label">Individual</span>
  </label>
  </li>
  </ul>
  <div class="error-message" id="1818610032_errorMessage"></div>
</div>
</div>
</div>
</div>
</div>


  <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"></span>
              <div class="col-md-8">
                <input id="email" name="email" type="text" placeholder="Name" class="form-control">
              </div>
            </div>
    

  
            
            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"></span>
              <div class="col-md-8">
                <textarea class="form-control" id="address" name="address" placeholder="Enter full address of store" rows="7"></textarea>
              </div>
            </div>


            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"></span>
              <div class="col-md-8">
                <input id="email" name="email" type="text" placeholder="Email Address (if any)" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"></span>
              <div class="col-md-8">
                <input id="email" name="email" type="text" placeholder="website (if any)" class="form-control">
              </div>
            </div>
    


            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"></span>
              <div class="col-md-8">
                <input id="phone" name="phone" type="text" placeholder="Contact phone number 1" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"></span>
              <div class="col-md-8">
                <input id="phone" name="phone" type="text" placeholder="Contact phone number 2" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
  </div>
</div>

<style>
    .header {
        color:#36A0FF;
        font-size:27px;
        padding:10px;
    }
    .bigicon {
        font-size:35px;
        color:#36A0FF;
    }
</style>

<script type="text/javascript">
    $('.selectpicker').selectpicker({
      });
    </script>
